:root {
	--primary-color: #2e90db;
	--toolbar-width: 200px;
}

html, body {
	overflow: hidden
	
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	position: relative
}

.mainWrapper {
	height: 100vh;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.toolbar {
	color: white;
	background-color: rgba(0,0,0,0.6);
	width: var(--toolbar-width);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;

	&__wrapper{
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;	
		transition: right 0.15s;
	}

	&--collapsed {
		height: 0;
		overflow: hidden;
		border-bottom-left-radius: 20px;
	}

	&__toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		position: absolute;
		top: 20px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		border-radius: 50px;
		width: 40px;
		height: 40px;
		transition: all 0.3s;
		border: 0;
		cursor: pointer;
		&:focus {
			outline: 0;
			box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
		}
	}
	&__button {
		height: 40px;
	}
	&__slider {
		&--wrapper {
			background: grey
		}
	}
}

.gridWrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.grid {
	border: 2px solid #444444;
	display: grid;
	grid-gap: 0px;
	align-content: center;

	&__box {
		box-sizing: border-box;
		border: 2px solid #444444;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFF;

		&--image {
			width: 100%;
		}
	}
}

.rangeslider-vertical .rangeslider__fill {
	background-color: #2e90db
}

.rangeslider__labels {
	width: 0 !important;
}

.rangeslider__label-item::before {
	background-color: white !important;
}